<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>590 545 620 398 0 0 1800 1125 </string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-02-06T14:04:51Z</date>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>41</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>centerHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>34</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>hideMenubarIcon</key>
	<false/>
	<key>internalTilingNotified</key>
	<true/>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>lastVersion</key>
	<string>92</string>
	<key>launchOnLogin</key>
	<false/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>previousDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>40</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>35</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
</dict>
</plist>
