# Ignore everything by default
*

!.gitignore

!README.md
!KEYBINDS.md

!flake.nix
!flake.lock
!secrets.nix

!cfg/
!cfg/**
!modules/
!modules/**
!lib/
!lib/**
!hosts/
!hosts/**
!scripts/
!scripts/**
!secrets/
!secrets/**

!rebuild.sh
